body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F46932;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #F46932;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

p {
    font-size: 18px;
}

.highlight {
    color: #28a745;
    font-weight: bold;
}
